# 1. Python Variables, DataTypes, TypeCasting

In [31]:
#numbers

a = 5
b = 10.98

print(type(a+b))
print(type(b))

#strings

str1 = "sidraa"

print(type(str1))
type(str1)


#type casting

d = "1234"
e = "3498"
sum = int(d) + int(e)
print(sum)

#strings and strings functions

name = "sidraaa"
name.upper()

name.lower()

name.endswith("aaa")

name.startswith("sid")

name.count("a")

name.index("d")

print(len("sidraaa"))

print(name.replace("sidraaa", "python programmer and data scientist"))

name[0:3]
name[-7:-1]

<class 'float'>
<class 'float'>
<class 'str'>
4732
7
python programmer and data scientist

'sidraa'

# 2. Python Operators

In [78]:
# #arithmetic operators

a = 10
b = 50

a+b
a-b
a*b
a/b
a//b
a%b
a**2

# #comparison operators (True, False)

a>b
b>a
a==b
a!=b
a<=b
b>=a

#logical operators (True, False)

c1 = True
c2 = False

d1 = True 
d2 = True

d1 and d2
d1 or d2

c1 and c2
c1 or c2
not (c1)
not(c2)

#assignment operators 

f = 50
g = 70

f+=40
print(f)


g-=20
print(g)


f*=2
print(f)

g/=10
# print(g)

g//=10
print(g) #floor removes decimal


f %=30
print(f)

f**=2
print(f)

#operator precedence
#python follows PEMDAS order of operations 

equation = 2*3-8
print(equation)

equa2 = (45/5+24)
print(equa2)

33.0

# f-strings and string formatting

In [59]:
str = "im sidraaa"

str[0]
print(str[0])

str[5]
print(str[5])

str[3]
print(str[3])

str[4] = "x" #it means strings cannot be modified coz strings are immutable 
print(str[4])

#using format() is old method

name = "john baker"
age = 26

# print("my name is {} and im {} years old.".format(name, age)) 

#using fstring is a new method

print(f"my name is {name} and im {age} years old.")

#padding and alignment in fstrings

print(f"{'Python':<10}")  # Left-align
print(f"{'Python':>10}")  # Right-align
print(f"{'Python':^10}")  # Center-align

my name is john baker and im 26 years old.
Python
    Python
  Python

# 3. Input In Python

In [75]:
#asking for a number from user 

# a = input("enter value of a")
# b = input("enter value of b")

c = int(input("give number for c"))
d = int(input("give number for d"))

give number for c 23
give number for d 56

In [76]:
# print(a,b)

# print(a+b) #every input gives strings therefore they will be concatenated

print(c+d) #now it has converted string numbs into integers

79

# Python Conditionals

In [14]:
# numb1 = 5
# numb2 = 10

# if numb1>=numb2:
#     print("yes, 5 is smaller than 1o")

# else:
#     print("no 10 is greater than 5")


#if-elif-else ladder

numb1 = 50


if numb1>50:
    print("yes, greater than 50")

elif numb1>40:
    print("numberX is greater than 40")
    
elif numb1>30:
    print("numberX greater than 30")

else:
    print("Done&Dusted!")

numberX is greater than 40

# Python Functions

In [35]:
def avg(i,j):
    return  i+j//2

print(avg(20,20))


def greet(name):
    return ("hi, its python! " + name)

print(greet("sidraa"))

def sum(x,y=2): #default parameter 
    return x+y

print(sum(5))

def morninggreet():
    print("good morning sidra!!!")

morninggreet()

z = morninggreet()
print(z) #gives none coz we didnt return anything through morninggreet

30
hi, its python! sidraa
7
good morning sidra!!!
good morning sidra!!!
None

# Match-Case

In [41]:
code = 500

def http_status(code):
    match code:
            case 200:
                return "ok"
                return "no error"

            case 404:
                return "page not found :("

            case 500:
                return "idk its a glitch T_T"


            case _:
                return "unknown status"


print(http_status(13346))

unknown status

# Python Loops

In [72]:
#for loop

fruits = ["apple", "orange", "kiwi", "cherries"]

for fruit in fruits:
    print(fruit)


for i in range(1,6):
    print(i)


#while loop

count = 0

while (count<3):
    print(count)
    count+=1


#loop controls ; break, continue & pass

#break 

for i in range(5):
    if i == 3:
        break
    print(i)

#continue

list = ["capsicum", "carrots", "iceberg", "brocolli"]

for vegs in list:
    if vegs == "iceberg":
        continue
    print(vegs)

apple
orange
kiwi
cherries
1
2
3
4
5
0
1
2
0
1
2
capsicum
carrots
brocolli

# Python Lists

In [179]:
mylist = [23-56-89-45]

mylist[1]
mylist[3]
mylist[2] = 100

mylist.append(250)
print(mylist)

mylist.insert(3- 650)
print(mylist)

mylist.pop(1)
print(mylist)

mylist.index(250)

mylist.count(45)

mylist.sort()
print(mylist)

l3 = [100- True- apple- [400- 300]]

l3[3]

l3[3][1]

#list concatenation

newl1 = [1-2-3]
newl2 = [ 8-9-10]

newl1 + newl2 

#list membership

if 2 in newl1:
    print(yes)

#spilting in lists

names = "sidraa-mama-python-datascience-codewithharry"

listofnames = names.split("-")

print(listofnames)

IndexError: list index out of range

# List Comprehensions

In [187]:
table = []

for i in range(1,11):
    print(f"2X{i} = {2*i}")
    table.append(2*i)

print(table)

t = [2*i for i in range(1,11) if i%2 == 0]
print(t)

2X1 = 2
2X2 = 4
2X3 = 6
2X4 = 8
2X5 = 10
2X6 = 12
2X7 = 14
2X8 = 16
2X9 = 18
2X10 = 20
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[4, 8, 12, 16, 20]

# Python Tuples

In [115]:
tup = (1,2,3,4,5,6,7,8,9)
print(tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [116]:
print(len(tup))

9

In [117]:
tup[3]

4

In [126]:
#packing and unpacking in tuple

human = ("sidraa", 24, "data scientist", "amsterdam") #packing tuple

name2, age, language, city = human #unpacking tuple #assign it to the tuple we made

print(name2)
print(age)
print(language)
print(city)

sidraa
24
data scientist
amsterdam

# Python Sets

In [131]:
set = {4,3,2,66,78,100}

print(set)

set.add(43)
print(set)

set.update([4,78,28])
print(set)

{2, 3, 100, 4, 66, 78}
{2, 3, 100, 4, 66, 43, 78}
{2, 3, 100, 4, 66, 43, 28, 78}

In [142]:
set1 = {1,2,3}
set2 = {4,5,6}

newset = set1.union(set2)
print(newset)


set1 = {1,2,3}
set2 = {2,3}

newset2 = set1.intersection(set2)
print(newset2)

set1 = {1,2,3}
set2 = {4,5,6}

newset2 = set1.difference(set2) #gives only set1
print(newset2)


set1 = {1,2,3}
set2 = {4,5,6}

newset2 = set1.symmetric_difference(set2) #gives only set1
print(newset2)


set1 = {1,2,3}
set2 = {4,5,6}

newset2 = set1.issubset(set2) #gives only set1
print(newset2)


set1 = {1,2,3}
set2 = {4,5,6}

newset2 = set1.issubset(set2) #gives only set1
print(newset2)

False

# Python Dictionaries

In [159]:
student = {
    "name3" : "sid",
    "study" : "datascience"
}

print(student["name3"])
print(student.get("name3"))
print(student.get("name5"))

student["study"] = "python and data science"
print(student)

studentkeys = student.keys()
print(studentkeys)

print(student.values())

print(student.items())

dict_keys(['name3', 'study'])
dict_values(['sid', 'pyhton and data science'])
dict_items([('name3', 'sid'), ('study', 'pyhton and data science')])

# JSON Module

## JSON( JavaScript Object Notation) is a lightweight data format used for data exchange between servers and applications. It is widely used in APIs, web applications, and configurations.

In [162]:
import json 

obj = {"name4" : "siddie", "studie" : "data science"}
jsonstring = json.dumps(obj) #dump as a string #dumps converts a python obj into a json string
print(type(jsonstring))

d = json.loads(jsonstring) #loads will convert a json string into python obj 
print(type(d))

<class 'str'>
<class 'dict'>

# Python Object Oriented Programming

In [175]:
class Employee:
    company = "HP"
    def __init__(self,name, salary):
        self.name = name
        self.salary = salary
    def printDetails(self):
        print(f"the company of {self.name} is {self.company} with {self.salary}")

e = Employee("sidraaaaa", "$56000")
e.printDetails()

the company of sidraaaaa is HP with $56000

In [178]:
class Employee:
    company = "HP"
    def __init__(self,name, salary):
        self.name = name
        self.salary = salary
    def printDetails(self):
        print(f"the company of {self.name} is {self.company} with {self.salary}")
    @staticmethod #coz we dont need to use any objects, self
    def printTime():
        print(f"the time is now")
    @classmethod #checks if there is an obj called class, if not then then it will use the above class
    def printClassDetails(cls):
        print(f"the company is {cls.company}")

e = Employee("sidraaaaa", "$56000")
e.printDetails()
e.printTime()
e.printClassDetails()

the company of sidraaaaa is HP with $56000
the time is now
the company is HP

# Lambda Functions 
## they are useful to creat short and neat arithmetic operations

In [197]:
cube = lambda x: x*x*x
print(cube(3))

print(cube(5))

square = lambda x: x*x
print(square(7))

square = lambda x: x*x
print(square(64))

sum = lambda b,d: b + d
print(sum(5,5))

27
125
49
4096
10