# 1. Python Variables, DataTypes, TypeCasting

In [31]:
#numbers

a = 5
b = 10.98

print(type(a+b))
print(type(b))

#strings

str1 = "sidraa"

print(type(str1))
type(str1)


#type casting

d = "1234"
e = "3498"
sum = int(d) + int(e)
print(sum)

#strings and strings functions

name = "sidraaa"
name.upper()

name.lower()

name.endswith("aaa")

name.startswith("sid")

name.count("a")

name.index("d")

print(len("sidraaa"))

print(name.replace("sidraaa", "python programmer and data scientist"))

name[0:3]
name[-7:-1]

<class 'float'>
<class 'float'>
<class 'str'>
4732
7
python programmer and data scientist

'sidraa'

# 2. Python Operators

In [78]:
# #arithmetic operators

# a = 10
# b = 50

# a+b
# a-b
# a*b
# a/b
# a//b
# a%b
# a**2

# #comparison operators (True, False)

# a>b
# b>a
# a==b
# a!=b
# a<=b
# b>=a

# #logical operators (True, False)

# c1 = True
# c2 = False

# d1 = True 
# d2 = True

# d1 and d2
# d1 or d2

# c1 and c2
# c1 or c2
# not (c1)
# not(c2)

# #assignment operators 

# f = 50
# g = 70

# f+=40
# print(f)


# g-=20
# print(g)


# f*=2
# print(f)

# g/=10
# print(g)

# g//=10
# print(g) #floor removes decimal


# f %=30
# print(f)

# f**=2
# print(f)

# #operator precedence
# #python follows PEMDAS order of operations 

# equation = 2*3-8
# print(equation)

equa2 = (45/5+24)
print(equa2)

33.0

# 3. Input In Python

In [75]:
#asking for a number from user 

# a = input("enter value of a")
# b = input("enter value of b")

c = int(input("give number for c"))
d = int(input("give number for d"))

give number for c 23
give number for d 56

In [76]:
# print(a,b)

# print(a+b) #every input gives strings therefore they will be concatenated

print(c+d) #now it has converted string numbs into integers

79